

        <section id="detailsPage">
            <div id="detailsInfo">
                {{#with charity}}
                <h1>Title: {{title}}</h1>
                <div class="info"><img src="{{image}}"></div>
                <div class="info">
                    <h3>CHARITY: {{charity}}</h3>
                    <h3>CATEGORY: {{category}}</h3>
                    <h3>DESCRIPTION: {{description}}</h3>
                    <h2>PRICE: ${{price}}</h2>
                </div>
                <!--If there is user logged in-->
                <div class="buttons">
                   
                       <!--If user is owner-->
                  
                    {{#if isOwner}}
                     <a href="/catalog/{{_id}}/edit" class="edit-btn">Edit</a>
                    <a href="/catalog/{{_id}}/delete" class="delete-btn">Delete</a>
                    <!--If user is not owner of the toy post-->
                    {{else}}
                    {{#if isBought}}
                    <p><span class="buy">Thank You For Your Purchase :)</span></p>
                   {{else}}
                    <a href="/catalog/{{_id}}/buy" class="buy-btn">Buy</a>
                   
                    <!--If user is not the owner and is bought this toy-->
                    {{/if}}
                    {{/if}}
                  
                    
                </div>
                {{/with}}
            </div>
        </section>
